/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FontMedium";
  src: url("./assets/fonts/DTPhudu-Medium.otf");
}
@font-face {
  font-family: "BoldFont";
  src: url("./assets/fonts/DTPhudu-Bold.otf");
}

#table-search {
  padding-left: 35px!important;
  margin-left: 1px;
}

body {
  //overflow: hidden;
  background: #cccccc;
}

tbody {
  height: 60vh;
  display: block;
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}

input, textarea {
  outline: none;
  outline-width: 0px!important;
  --tw-ring-shadow: none!important;
}

.store-badge {
  position: absolute;
  z-index: 1000;
  border: solid 2px white;
  border-radius: 0;
  text-align: center;
  margin-left: 30px;
  font-family: boldFont;
  padding: 13px;
  color: white;
  top: 20px;
  right: 20px;
  width: 140px;
  white-space: nowrap;
  font-size: 13px;
}

td {
  overflow: hidden;
  word-break: break-all;
}
